@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 64px;
  line-height: 96px;
  font-weight: 600;
}

h2 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 600;
}

h3 {
  font-size: 36px;
  line-height: 54px;
  font-weight: 600;
}

h4 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
}

h5 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

/* Header Start */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background: #F7F3E3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  cursor: pointer;
}

.navigation li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.navigation li a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;
  color: #5A4C38;
  transition: all ease-out 250ms;
}

.navigation li a:hover,
.navigation li a.active {
  color: #5A4C38;
}

.navigation li a.active::after,
.navigation li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #5A4C38;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

.close-nav {
  display: none;
}

/* Hero Section */
.hero-sct {
  background-image: url("../assets/hero.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 150px 100px 150px 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero-sct h4 {
  color: #F7F3E3;
  padding-bottom: 15px;
}

.hero-sct h1 {
  color: #F7F3E3;
}

.hero-sct h2 {
  color: #53917E;
  font-size: 64px;
}

.hero-sct p {
  margin-top: 20px;
  color: #fff;
}

.hero-sct button {
  margin-top: 50px;
  background-color: #53917E;
  border-radius: 20px;
  color: #fff;
  border: 0;
  padding: 10px 50px 10px 50px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.hero-sct a {
  color: inherit;
  text-decoration: none ;
}

/* Book Section */
.book-sct {
  background-color: #212121;
  padding: 100px 100px 100px 100px;
  text-align: center;
}

.book-sct .none {
  display: none;
}

.book-sct h2, 
.book-sct p{
  color: #E3E6F3;
}

.book-sct h3 {
  color: #E3E6F3;
  padding-top: 50px;
  text-align: start;
}

.step2 button,
.step3 button {
  background-color: #53917E;
  border-radius: 50px;
  color: #fff;
  border: 0;
  padding: 10px 100px 10px 100px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.step2 button:hover,
.step3 button:hover {
  background-color: #2b473e;
  border-radius: 50px;
  color: #fff;
  border: 0;
  padding: 10px 100px 10px 100px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.step2 button:disabled,
.step3 button:disabled {
  background-color: #9c9c9c;
  border-radius: 50px;
  color: #fff;
  border: 0;
  padding: 10px 100px 10px 100px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.form-box {
  background-color: #5A4C38;
  border-radius: 30px;
  padding: 50px 80px;
  margin: 20px 0px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.form-box h5,
.form-box p {
  color: #F7F3E3;
}

.stp1-book {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stp1-book .icon-transport {
  margin: 0px 100px 0px 100px;
}

.stp1-book .ic {
  padding: 25px;
}

.stp1-book .fe-box {
  width: 100px;
  height: 100px;
  background: #F7F3E3;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.stp1-book .fe-box img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.stp1-book p {
  color: #F7F3E3;
}

.stp1-book button {
  background-color: transparent;
  border: none;
  padding: 20px 20px 20px 20px;
}

.stp1-book button:hover {
  background-color: #212121;
  border: none;
  border-radius: 50px;
}

.stp1-book .ctgActive {
  background-color: #212121;
  border: none;
  border-radius: 50px;
}

.form-sct {
  display: flex;
  align-items: center;
}

.form-sct label {
  color: #F7F3E3;
  font-size: 24px;
  font-weight: 300;
  padding-right: 25px;
}

.form-sct input {
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 30px;
  border-style: solid ;
  border-color: #F7F3E3;
  border-width: 3px;
  width: 400px;
  padding: 10px 10px 10px 20px;
  font-size: 24px;
  color: #F7F3E3;
}

.form-sct input::placeholder {
  color: #F7F3E3;
  opacity: 50%;
  font-weight: 200;
}

.stp2-book {
  margin-bottom: 0;
  border-radius: 30px 30px 0px 0px;
}

.dst-form {
  padding-bottom: 20px;
  flex-wrap: wrap;
  flex-direction: row;
}

.dst-form h5 {
  margin-right: 106px;
}

.dst-form .container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.dst-form .container .inpt-from,
.dst-form .container .inpt-to {
  display: flex;
  align-items: center;
  margin: 10px 100px 30px 0;
  text-align: left;
}

.dst-form select {
  /* appearance: none; */
  box-sizing: border-box;
  background-color: #F7F3E3;
  border-radius: 30px;
  border-style: solid ;
  border-color: #F7F3E3;
  border-width: 3px;
  color: #5A4C38;
  font-size: 24px;
  width: 400px;
  padding: 10px 50px 10px 20px;
}

.dst-form .select-dest {
  width: 50px;
  /* height: 100%; */
  position: relative;
  right: 0;
  border-radius: 0 30px 30px 0;
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: none;
  z-index: 1;
}

.select-dest i {
  font-size: 25pt;
  color: #ffffff;
}

.acmd-form {
  padding-bottom: 50px;
  flex-wrap: wrap;
  flex-direction: row;
}

.acmd-form label {
  margin-right: 40px;
}

.acmd-form .select-container {
  display: flex;
  position: relative;
}

.acmd-form .select-box {
  appearance: none;
  box-sizing: border-box;
  background-color: #F7F3E3;
  border-radius: 30px;
  border-style: solid ;
  border-color: #F7F3E3;
  border-width: 3px;
  width: 100%;
  color: #5A4C38;
  font-size: 24px;
  padding: 10px 100px 10px 20px;
}

.select-box::part(listbox) {
  padding: 5px;
  margin: 5px 0 0 2px;
}

option {
  padding: .5em;
}

.select-container .select-acmd {
  width: 50px;
  height: 100%;
  position: absolute;
  right: 0;
  border-radius: 0 30px 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
}

.select-acmd i {
  font-size: 25pt;
  color: #5A4C38;
}

.date-form {
  flex-wrap: wrap;
  flex-direction: row;
}

.date-form h5 {
  margin-right: 189px;
}

.date-form input {
  box-sizing: border-box;
  background-color: #F7F3E3;
  border-radius: 30px;
  border-style: solid ;
  border-color: #F7F3E3;
  border-width: 3px;
  padding: 10px 10px 10px 20px;
  font-size: 24px;
  color: #5A4C38;
}

.price {
  margin-top: 0px;
  background-color: #53917E;
  border-radius: 0px 0px 30px 30px;
}

.prc-details {
  display: flex;
  padding: 25px 0px 25px 0px;
  justify-content: end;
  vertical-align: middle;
  color: #F7F3E3;
  margin-right: 80px;
  gap: 100px;
  align-items: center;
}

.prc-details span {
  font-size: 24px;
  font-weight: 400;
}

.step2 .next-btn {
  display: block;
  padding-top: 50px;
}

.stp3-book .form-sct {
  padding-bottom: 50px;
}

.stp3-book label,
.stp3-book input {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.name-form .container {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.name-form label {
  padding-right: 105px;
  text-align: left;
}

.mail-form label {
  padding-right: 155px;
  text-align: left;
}

.phone-form label {
  padding-right: 143px;
  text-align: left;
}

/* Pop-up Modal / Checkout Summary */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.modal-background {
  background-color: rgba(33, 33, 33, .5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.modal {
  background-color: #F7F3E3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  padding: 50px 10px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-modal {
  display: flex;
  position: absolute;
  align-items: end;
  justify-content: flex-end;
  width: 100%;
  top: 0;
  padding: 10px 20px;
  color: #E3E6F3;
  background-color: #5A4C38;
  border-radius: 30px 30px 0 0;
}

.close-modal:hover {
  color: #212121;
  cursor: pointer;
}

.modal-inner {
  width: 100%;
  padding: 0 20px;
}

.modal-title {
  text-align: center;
  padding-bottom: 30px;
}

.modal-title h4, p {
  color: #212121;
}

.summary-table {
  width: 100%;
  padding-bottom: 50px;
}

.summary-table tr {
  height: 20px;
  font-size: 20px;
}

.summary-table td {
  font-size: 16pt;
  font-weight: 300;
}

.confirm-btn {
  background-color: #53917E;
  border-radius: 20px;
  color: #fff;
  border: 0;
  padding: 10px 50px 10px 50px;
  width: 200px;
  margin: 0 10px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.confirm-btn:hover {
  background-color: #6cb8a0;
}

.back-btn {
  border: #915353;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  background-color: transparent;
  color: #915353;
  padding: 6px 50px 6px 50px;
  width: 200px;
  margin: 0 10px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.back-btn:hover {
  background-color: rgb(255, 208, 208);
}

/* After Checkout Animation */
.loading-container {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #6cb8a0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#successIcon,
#loadingIcon {
    display: none;
    text-align: center;
}

.success-icon {
  color: #6cb8a0;
  font-size: 128pt;
  line-height: 10px;
  padding-bottom: 50px;
}

/* Section Company */
.cp-sct {
  padding: 150px 100px 150px 100px;
  background-color: #F7F3E3;
}

.cp-header h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.cp-header p {
  color: #212121;
  margin-bottom: 70px;
}

.cp-header h3 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.benefits {
  margin-left: 50px;
  margin-right: 50px;
}

.cp-box {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 50px;
}

.cp-img {
  width: 330px;
  height: 430px;
}

.cp-sct img {
  border-radius: 10px;
  object-fit: cover;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.cp-details {
  padding-left: 100px;
}

.benefits h4 {
  color: #5A4C38;
  padding-bottom: 20px;
}

.cp-details p {
  color: #212121;
}

/* Section Contact Us */
.cu-sct {
	background-color: #5A4C38;
	padding: 150px 100px 150px 100px;
}

.cu-title {
	color: #F7F3E3;
	text-align: center;
}

.cu-title h2 {
	margin-bottom: 30px;
}

.cu-title p {
	color: #F7F3E3;
	text-align: left;
	padding-bottom: 50px;
}

.cu-info {
	display: flex;
	gap: 200px;
	justify-content: center;
}

.cu-sct .ic {
	width: 50px;
	height: 50px;
}

.cu-sct .ic-box {
  display: flex;
  justify-content: start;
  vertical-align: middle;
	margin-bottom: 50px;
}

.cu-sct .cu-details {
  display: inline-block;
  vertical-align: middle;
  color: #F7F3E3;
  margin-top: 5px;
	margin-left: 50px;
	font-size: 24px;
	font-weight: 400;
  line-height: 36px;
}

/* Section Footer */
footer {
  background-color: #212121;
  padding: 150px 100px 150px 100px;
}

.footer-left, .footer-center, .footer-right {
  display: inline-block;
  vertical-align: top;
  color: #E3E6F3;
}

.footer-left {
  width: 350px;
  margin-right: 150px;
}

.footer-left img {
  width: 150px;
  padding-bottom: 20px;
}

.footer-left p {
  color: #E3E6F3;
}

.footer-center {
  margin-right: 200px;
}

.ftr-title {
  padding-bottom: 20px;
}

.ftr-details a {
  display: flex;
  color: #E3E6F3;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  text-decoration: none;
  padding-bottom: 10px;
}

.ftr-details p {
  color: #E3E6F3;
  padding-bottom: 10px;
}