@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 64px;
  line-height: 96px;
  font-weight: 600;
}

h2 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 600;
}

h3 {
  font-size: 36px;
  line-height: 54px;
  font-weight: 600;
}

h4 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
}

h5 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

p {
  font-size: 20px;
  line-height: 30px;
  color: #465b52;
  font-weight: 300;
}

/* body {
  width: 0;
} */

/* ? Header Start */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background: #F7F3E3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.navigation li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.navigation li a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 300;
  color: #1a1a1a;
  transition: 1s ease-in;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.navigation li a:hover,
.navigation li a.active {
  color: #5A4C38;
}

.navigation li a.active::after,
.navigation li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #5A4C38;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}


.hero-sct {
  background-image: url("assets/hero.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 100px 100px 100px 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero-sct h4 {
  color: #F7F3E3;
  padding-bottom: 15px;
}

.hero-sct h1 {
  color: #F7F3E3;
}

.hero-sct h2 {
  color: #53917E;
  font-size: 64px;
}

.hero-sct p {
  margin-top: 20px;
  color: #fff;
}

.hero-sct button {
  margin-top: 50px;
  background-color: #53917E;
  border-radius: 20px;
  color: #fff;
  border: 0;
  padding: 10px 50px 10px 50px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* Section book */

.book-sct {
  background-color: #212121;
  padding: 100px 100px 100px 100px;
  text-align: center;
}

.book-sct h2, p{
  color: #E3E6F3;
}

.book-sct h3 {
  color: #E3E6F3;
  padding-top: 50px;
  text-align: start;
}

.form-box {
  background-color: #5A4C38;
  border-radius: 30px;
  padding: 50px 80px;
  margin: 20px 0px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.form-box h5, p {
  color: #F7F3E3;
}

.stp1-book {
  display: flex;
  justify-content: center;
}

.stp1-book .icon-transport {
  margin: 0px 125px 0px 10px;
}

.stp1-book .ic {
  padding: 25px;
}

.stp1-book .fe-box {
  width: 100px;
  height: 100px;
  background: #F7F3E3;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.stp1-book .fe-box img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.stp1-book button {
  background-color: transparent;
  border: none;
  padding: 20px 20px 20px 20px;
}

.stp1-book button:hover {
  background-color: #212121;
  border: none;
  border-radius: 50px;
}

.form-sct {
  display: flex;
  align-items: center;
}

.form-sct label {
  color: #F7F3E3;
  font-size: 24px;
  font-weight: 300;
  padding-right: 25px;
}

.form-sct input {
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 30px;
  border-style: solid ;
  border-color: #F7F3E3;
  border-width: 3px;
  width: 400px;
  padding: 10px 10px 10px 20px;
  font-size: 24px;
  color: #F7F3E3;
}

.form-sct input::placeholder {
  color: #F7F3E3;
  opacity: 50%;
  font-weight: 200;
}

.stp2-book {
  margin-bottom: 0;
  border-radius: 30px 30px 0px 0px;
}

.dst-form {
  padding-bottom: 50px;
}

.dst-form h5 {
  margin-right: 106px;
}

.dst-form .container {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.acmd-form {
  padding-bottom: 50px;
}

.acmd-form h5 {
  margin-right: 40px;
}

.acmd-form select {
  box-sizing: border-box;
  background-color: #F7F3E3;
  border-radius: 30px;
  border-style: solid ;
  border-color: #F7F3E3;
  border-width: 3px;
  width: 565px;
  color: #5A4C38;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
}

.date-form h5 {
  margin-right: 189px;
}

.date-form input {
  box-sizing: border-box;
  background-color: #F7F3E3;
  border-radius: 30px;
  border-style: solid ;
  border-color: #F7F3E3;
  border-width: 3px;
  width: 450px;
  padding: 10px 10px 10px 20px;
  
  font-size: 24px;
  color: #5A4C38;
}

.price {
  margin-top: 0px;
  background-color: #53917E;
  border-radius: 0px 0px 30px 30px;
}

.prc-details {
  display: flex;
  padding: 25px 0px 25px 0px;
  justify-content: end;
  vertical-align: middle;
  color: #F7F3E3;
  margin-right: 80px;
  gap: 100px;
  align-items: center;
}

.prc-details span {
  font-size: 24px;
  font-weight: 400;
}

.stp3-book .form-sct {
  padding-bottom: 50px;
}

.name-form .container {
  display: flex;
  justify-content: center;
  gap: 150px;
}

.name-form h5 {
  padding-right: 130px;
}

.mail-form h5 {
  padding-right: 155px;
}

.phone-form h5 {
  padding-right: 143px;
}

.stp3-book button {
  background-color: #53917E;
  border-radius: 50px;
  color: #fff;
  border: 0;
  padding: 10px 100px 10px 100px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

/* Section Company */
.cp-sct {
  padding: 100px 100px 100px 100px;
  background-color: #F7F3E3;
}

.cp-header h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.cp-header p {
  color: #212121;
  margin-bottom: 70px;
}

.cp-header h3 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.benefits {
  margin-left: 50px;
  margin-right: 50px;
}

.cp-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 50px;
}

.cp-img {
  width: 330px;
  height: 430px;
}

.cp-sct img {
  border-radius: 10px;
  object-fit: cover;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.cp-details {
  padding-left: 100px;
}

.benefits h4 {
  color: #5A4C38;
  padding-bottom: 20px;
}

.cp-details p {
  color: #212121;
}

/* Section Contact Us */
.cu-sct {
	background-color: #5A4C38;
	padding-top: 100px;
	padding: 100px;
	padding-left: 100px;
	padding-right: 100px;
}

.cu-title {
	color: #F7F3E3;
	text-align: center;
}

.cu-title h2 {
	margin-bottom: 30px;
}

.cu-title p {
	text-align: left;
	padding-bottom: 50px;
}

.cu-info {
	position: relative;
	display: flex;
	gap: 200px;
	justify-content: center;
}

.cu-sct .ic {
	width: 50px;
	height: 50px;
}

.cu-sct .ic-box {
  display: flex;
  justify-content: start;
  vertical-align: middle;
	margin-bottom: 50px;
}

.cu-sct .cu-details {
  display: inline-block;
  vertical-align: middle;
  color: #F7F3E3;
  margin-top: 5px;
	margin-left: 50px;
	font-size: 24px;
	font-weight: 400;
  line-height: 36px;
}

/* Section Footer */
footer {
  background-color: #212121;
  padding: 100px 100px 100px 100px;
}

.footer-left, .footer-center, .footer-right {
  display: inline-block;
  vertical-align: top;
  color: #E3E6F3;
}

.footer-left {
  width: 350px;
  margin-right: 150px;
}

.footer-left img {
  width: 150px;
  padding-bottom: 20px;
}

.footer-center {
  margin-right: 200px;
}

.ftr-title {
  padding-bottom: 20px;
}

.ftr-details p {
  padding-bottom: 10px;
}



@media (max-width:800px) {

  .navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    background-color: #F7F3E3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
    padding: 80px 0 0 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }

  .navigation.active {
    right: 0px;
  }

  .navigation li {
    margin-bottom: 30px;
    padding-bottom: 5px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding: 20px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }

  h1 {
    font-size: 56px;
    line-height: 96px;
    font-weight: 600;
  }
  
  h2 {
    font-size: 40px;
    line-height: 72px;
    font-weight: 600;
  }
  
  h3 {
    font-size: 28px;
    line-height: 54px;
    font-weight: 500;
  }
  
  h4 {
    font-size: 24px;
    line-height: 48px;
    font-weight: 500;
  }
  
  h5 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
  }
  
  p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
  }

  /* Hero Section */

  .hero-sct {
    height: 100vh;
    padding: 50px 50px 50px 50px;
    background-position: top 30% right 30%;
  }

  /* Book Section */

  .book-sct {
    padding-left: 50px;
    padding-right: 50px;
  }

  .form-sct label {
    color: #F7F3E3;
    font-size: 16pt;
    font-weight: 300;
    padding-right: 25px;
  }

  .form-sct input {
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 30px;
    border-style: solid ;
    border-color: #F7F3E3;
    border-width: 3px;
    width: 250px;
    padding: 5px 20px 5px 20px;
    font-size: 16pt;
    color: #F7F3E3;
  }

  .stp1-book {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 20px;
    padding: 50px 50px 50px 50px;
  }

  .stp1-book .icon-transport {
    margin: 10px 50px;
  }

  .stp2-book .dst-form,
  .stp2-book .dst-form h5 {
    display: block;
    text-align: left;
    padding-bottom: 10px;
  }

  .stp2-book .dst-form .container {
    display: flex;
    gap: 20px;
  }
  
  .stp2-book .acmd-form,
  .stp2-book .acmd-form h5 {
    display: block;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .stp2-book .acmd-form select {
    box-sizing: border-box;
    background-color: #F7F3E3;
    border-radius: 30px;
    border-style: solid ;
    border-color: #F7F3E3;
    border-width: 3px;
    width: 520px;
    color: #5A4C38;
    font-size: 24px;
    padding: 5px 5px 5px 20px;
    margin-bottom: 10px;
  }

  .stp2-book .date-form,
  .stp2-book .date-form h5 {
    display: block;
    text-align: left;
  }

  .stp2-book .date-form h5 {
    padding-bottom: 10px;
  } 

  /* Section Company */

  .cp-header {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .cp-box {
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
  }

  .cp-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }

  .cp-box .cp-details {
    display: block;
    padding-left: 0;
    text-align: center;
  }

  /* Contact Us */

  .cu-title {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .cu-info {
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  .cu-sct .ic {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cu-sct .cu-details{
    display: block;
    padding-left: 0;
    text-align: center;
  }

  /* Footer */

  .footer-left, .footer-center, .footer-right {
		flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
		text-align: center;
	}
  
}